<template>
    <div class="errorPage">
        404
    </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({

})
</script>
<style lang="less" scoped>
.errorPage{
    
}
</style>