<template>
  <div id="cardmanage">
    <div class="herder-container">
      <div style="display: flex;">
        <!-- <div class="searchInput">
          <a-input v-model:value="searchKey" placeholder="" />
        </div>
        <a-button type="primary">
          搜索
        </a-button> -->
      </div>
      <div>
        <a-button type="primary" @click="addCard">
          {{lanData.Card.button1}}
        </a-button>
      </div>
    </div>
    <div class="table-container">
      <a-table
        :columns="columns"
        :data-source="cardsData"
        :rowKey="
          (record) => {
            return record.id;
          }
        "
        :pagination="pagination"
        @change="handleChangeSize"
      >
        <template #userId="{  record }">
          <span v-if="record.userId == 0">
            {{lanData.Card.text1}}
          </span>
          <span v-else>
            {{ record.userId }}
          </span>
        </template>
        <template #action1="{  record }">
          <span>
            <a-button type="link" @click="handleEditClick(record)">
              {{lanData.Card.button2}}
            </a-button>
            <a-button type="link" @click="handleDelClick(record)">
              {{lanData.Card.button3}}
            </a-button>
          </span>
        </template>
      </a-table>
    </div>
    <div class="modal-container">
      <a-modal
        :title="lanData.Card.add"
        v-model:visible="isShowAdd"
        :confirm-loading="addConfirmLoading"
        @ok="handleAdd"
        @cancel="handelCancelAdd"
      >
        <div class="edit-container">
          <a-form :label-col="{ span: 6 }" :wrapper-col="{ span: 14 }">
            <a-form-item :label="lanData.Card.number">
              <a-input
                v-model:value="AddData.number"
                :placeholder="lanData.Card.placeholder1"
              />
            </a-form-item>
            <a-form-item :label="lanData.Card.count">
              <a-input
                v-model:value="AddData.count"
                :placeholder="lanData.Card.placeholder2"
              />
            </a-form-item>
          </a-form>
        </div>
      </a-modal>
      <a-modal
        :title="lanData.Card.edit"
        v-model:visible="isShowEdit"
        :confirm-loading="editConfirmLoading"
        @ok="handleEdit"
        @cancel="handelCancelEdit"
      >
        <div class="edit-container">
          <a-form :label-col="{ span: 6 }" :wrapper-col="{ span: 14 }">
            <a-form-item :label="lanData.Card.number">
              <a-input
                v-model:value="AddData.number"
                :placeholder="lanData.Card.placeholder3"
              />
            </a-form-item>
            <a-form-item :label="lanData.Card.count">
              <a-input
                v-model:value="AddData.count"
                :placeholder="lanData.Card.placeholder4"
              />
            </a-form-item>
            <a-form-item :label="lanData.Card.id">
              <a-input
                v-model:value="AddData.userId"
                :placeholder="lanData.Card.placeholder5"
              />
            </a-form-item>
          </a-form>
        </div>
      </a-modal>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref, reactive, toRefs, onMounted, toRaw, computed } from "vue";
import { AddOrEditNewCard, getAllCards } from "@/api/api";
import { message } from "ant-design-vue";
import { i18n } from "@/i18n/index";
export default defineComponent({
  name: "usermanage",
  setup() {
    interface cardDataInter {
      id: Number;
      count: Number;
      number: String;
      userId: Number;
    }
    interface dataInter {
      cardsData: cardDataInter[];
      searchKey: String;
      pagination: any;
    }
    const lanData = computed(()=> i18n.i18n.value);
    const data = reactive<dataInter>({
      cardsData: [],
      searchKey: "",
      pagination: {
        current: 1,
        pageSize: 5,
        pageSizeOptions: ["5", "10", "15"],
        showTotal: (total: Number, range: any) => {
          return "共" + total + "条";
        },
        showQuickJumper: true,
        showSizeChanger: true,
        total: 0,
      },
    });
    const columns = computed(()=> {
      return [
        {
          title: lanData.value.Card.title1,
          dataIndex: "id",
          align: "center",
        },
        {
          title: lanData.value.Card.title2,
          dataIndex: "number",
          align: "center",
        },
        {
          title: lanData.value.Card.title3,
          dataIndex: "count",
          align: "center",
        },
        {
          title: lanData.value.Card.title4,
          dataIndex: "userId",
          align: "center",
          slots: { customRender: "userId" },
        },
        {
          title: lanData.value.Card.title5,
          dataIndex: "action",
          align: "center",
          slots: { customRender: "action1" },
        },
      ]
    })
    const modalData = reactive({
      isShowAdd: false,
      addConfirmLoading: false,
      isShowEdit: false,
      editConfirmLoading: false,
      AddData: {
        count: 100,
        id: 0,
        number: "",
        userId: 0,
      },
    });
    //新增
    const addCard = () => {
      modalData.isShowAdd = true;
      modalData.AddData = {
        count: 100,
        id: 0,
        number: "",
        userId: 0,
      };
    };
    //编辑
    const handleEditClick = (record: any) => {
      modalData.AddData = {
        count: toRaw(record).count,
        id: toRaw(record).id,
        number: toRaw(record).number,
        userId: toRaw(record).userId,
      };
      modalData.isShowEdit = true;

      //console.log(Number(toRaw(record.count)));
    };
    //删除
    const handleDelClick = (record: object) => {
      console.log(record);
    };
    //确定新增
    const handleAdd = () => {
      const params = {
        count: Number(modalData.AddData.count),
        id: 0,
        number: modalData.AddData.number,
        userId: 0,
      };
      console.log(params);
      AddOrEditNewCard(params)
        .then((res: any) => {
          console.log(res);
          if (res.code == 0) {
            message.success(lanData.value.Card.message1);
            //modalData.addConfirmLoading = false;
            modalData.isShowAdd = false;
            getCards();
          }
        })
        .catch((err: any) => {
          console.log(err);
          message.error(lanData.value.Card.message2);
          modalData.addConfirmLoading = false;
        });
    };
    //取消新增
    const handelCancelAdd = () => {};
    //确定修改
    const handleEdit = () => {
      //modalData.editConfirmLoading = true;
      //console.log(modalData.AddData);
      const params = {
        count: Number(modalData.AddData.count),
        id: modalData.AddData.id,
        number: modalData.AddData.number,
        userId: Number(modalData.AddData.userId),
      };
      console.log(params);
      modalData.editConfirmLoading = true;
      AddOrEditNewCard(params)
        .then((res: any) => {
          if (res.code == 0) {
            message.success(lanData.value.Card.message3);
            modalData.editConfirmLoading = false;
            modalData.isShowEdit = false;
            getCards();
          }else{
            message.error(lanData.value.Card.message4);
            modalData.editConfirmLoading = false;
            modalData.isShowEdit = false;
          }
        })
        .catch((err: any) => {
          console.log(err);
          message.error(lanData.value.Card.message2);
          modalData.editConfirmLoading = false;
          modalData.isShowEdit = false;
        });
    };
    //取消修改
    const handelCancelEdit = () => {
      console.log("ok");
    };
    //获取所有精康检测卡
    const getCards = () => {
      let params = {
        current: data.pagination.current,
        size: data.pagination.pageSize,
      };
      getAllCards(params)
        .then((res: any) => {
          if (res.code == 0) {
            console.log(res);
            data.cardsData = res.data.records;
            data.pagination.total = res.data.total;
          }
        })
        .catch((err: any) => {
          console.log(err);
        });
    };
    //改变分页数据
    const handleChangeSize = (pagination: any) => {
      console.log(pagination);
      data.pagination.current = pagination.current;
      data.pagination.pageSize = pagination.pageSize;
      getCards();
    };
    onMounted(() => {
      getCards();
    });
    return {
      ...toRefs(data),
      ...toRefs(modalData),
      lanData,
      columns,
      handleEditClick,
      handleDelClick,
      handelCancelAdd,
      handleAdd,
      addCard,
      handleChangeSize,
      handleEdit,
      handelCancelEdit,
    };
  },
});
</script>
<style lang="less" scoped>
#cardmanage {
  .herder-container {
    display: flex;
    justify-content: space-between;
  }
  .table-container {
    margin-top: 30px;
  }
}
</style>
