<template>
  <div id="history">
    <div class="herder-container">
      <div style="display: flex;">
        <div class="searchInput">
          <a-input v-model:value="patientId" :placeholder="lanData.History.searchKey1" />
        </div>
        <div class="searchInput">
          <a-input v-model:value="detectionId" :placeholder="lanData.History.searchKey2" />
        </div>
        <div class="searchInput">
          <a-input
            v-model:value="uploaderUsername"
            :placeholder="lanData.History.searchKey3"
          />
        </div>
        <a-button type="primary" @click="getResults">
          {{lanData.History.button1}}
        </a-button>
        <a-button type="primary" @click="reset" style="margin-left:20px">
          {{lanData.History.button2}}
        </a-button>
      </div>
      <div>
        <!-- <a-button type="primary">
          下载所有记录
        </a-button> -->
      </div>
    </div>
    <div class="table-container">
      <a-table
        :columns="columns"
        :data-source="resData"
        :rowKey="
          (record) => {
            return record.id;
          }
        "
        :pagination="pagination"
        @change="handleChangeSize"
      >
        <template #uploadTime="{  record }">
          <span>
            {{ utils.renderTime(record.uploadTime) }}
          </span>
        </template>
        <template #action1="{  record }">
          <span>
            <a-button type="link" @click="handleViewClick(record)">
              {{lanData.History.button3}}
            </a-button>
            <a-button type="link" @click="handleDelClick(record)">
              {{lanData.History.button4}}
            </a-button>
            <a-button type="link" @click="handleDownClick(record)">
              {{lanData.History.button5}}
            </a-button>
          </span>
        </template>
      </a-table>
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, onMounted, reactive, ref, toRaw, toRefs, watchEffect } from "vue";
import { SmileOutlined, DownOutlined } from "@ant-design/icons-vue";
import { useRouter } from "vue-router";
import { getAllResults, deletResult, downloadRes } from "@/api/api";
import utils from "@/utils/util";
import { useStore } from "vuex";
import { message, Modal } from "ant-design-vue";
import baseUrl from "@/utils/request";
import { i18n } from "@/i18n/index";
export default defineComponent({
  name: "history",
  components: {
    SmileOutlined,
  },
  setup() {
    const lanData = computed(()=>i18n.i18n.value);
    
    console.log(lanData.value.History)
    const data = reactive({
      resData: [],
      detectionId: "",
      patientId: "",
      uploaderUsername: "",
      pagination: {
        current: 1,
        pageSize: 5,
        pageSizeOptions: ["5", "10", "15"],
        showTotal: (total: Number, range: any) => {
          return "共" + total + "条";
        },
        showQuickJumper: true,
        showSizeChanger: true,
        total: 0,
      },
    });
    const columns=computed(()=> {
      return [
        {
          title: lanData.value.History.title1,
          dataIndex: "patientId",
          align: "center",
        },
        {
          title: lanData.value.History.title2,
          dataIndex: "detectionId",
          align: "center",
        },
        {
          title: lanData.value.History.title3,
          dataIndex: "result",
          align: "center",
        },
        {
          title: lanData.value.History.title4,
          dataIndex: "uploadTime",
          align: "center",
          slots: { customRender: "uploadTime" },
        },
        {
          title: lanData.value.History.title5,
          dataIndex: "action",
          align: "center",
          slots: { customRender: "action1" },
        },
      ]
    }) 
    const router = useRouter();
    const store = useStore();
    //详情
    const handleViewClick = (record: any) => {
      console.log(record);
      router.push({ name: "Result", params: { id: record.id } });
    };
    //删除
    const handleDelClick = (record: any) => {
      console.log(record);

      Modal.confirm({
        title: lanData.value.History.message1,

        content: lanData.value.History.message2,
        onOk() {
          let params: any = [];
          let data = {
            id: record.id,
            status: 0,
          };
          params.push(data);
          deletResult(params)
            .then((res: any) => {
              console.log(res);
              if (res.code == 0) {
                message.success(lanData.value.History.message3);
                getResults();
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },
        onCancel() {},
      });
    };
    //下载
    const handleDownClick = (record: any) => {
      let arr = []
      arr.push(record.id)
      console.log(arr)
      
      let a = document.createElement("a");
      a.href =`${baseUrl.baseURL}/download/downloadHistory/${arr}`;
      document.body.appendChild(a);
      a.setAttribute('target', '_blank');
      a.click();  //下载
      URL.revokeObjectURL(a.href);    // 释放URL 对象 
      document.body.removeChild(a);  
    };
    //改变分页
    const handleChangeSize = (pagination: any) => {
      console.log(pagination);
      data.pagination.current = pagination.current;
      data.pagination.pageSize = pagination.pageSize;
      getResults();
    };
    //获取历史纪录
    const getResults = () => {
      let params = {
        current: data.pagination.current,
        size: data.pagination.pageSize,
        detectionId: data.detectionId == "" ? null : data.detectionId,
        patientId: data.patientId == "" ? null : data.patientId,
        uploaderUsername:
          data.uploaderUsername == "" ? null : data.uploaderUsername,
        userId:
          store.state.userInfo.userType == "ADMIN"
            ? null
            : store.state.userInfo.id,
      };
      getAllResults(params)
        .then((res: any) => {
          if (res.code == 0) {
            console.log(res);
            data.resData = res.data.records;
            data.pagination.total = res.data.total;
          }
        })
        .catch((err: any) => {
          console.log(err);
        });
    };
    //重置
    const reset = () => {
      (data.detectionId = ""),
        (data.patientId = ""),
        (data.uploaderUsername = "");
      getResults();
    };
    onMounted(() => {
      getResults();
    });
    return {
      ...toRefs(data),
      lanData,
      columns,
      handleViewClick,
      handleDelClick,
      handleDownClick,
      handleChangeSize,
      getResults,
      reset,
      utils,
    };
  },
});
</script>
<style lang="less" scoped>
#history {
  .herder-container {
    display: flex;
    justify-content: space-between;
    .searchInput {
      min-width: 150px;
      margin-right: 50px;
    }
  }
  .table-container {
    margin-top: 30px;
  }
}
</style>
