<template>
  <div id="homepage">
    homepage part
    
    <div>
      <!-- {{ i18n.test.test }} -->
      {{lanData.test.test}}
      {{userInfo.username }}
    </div>
    <div
      :style="{
        width: '300px',
        border: '1px solid #d9d9d9',
        borderRadius: '4px',
      }"
    >
      <a-calendar :fullscreen="false" />
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, toRaw, toRefs, watch } from "vue";
import { useRouter } from "vue-router";
import { i18n } from "@/i18n/index";
import { useStore } from "vuex";
export default defineComponent({
  name: "homepage",
  setup() {
    const lanData = computed(()=>i18n.i18n.value)
    //console.log(lanData.value, 111);
    // var lanData = i18n.i18n.value;
    //const data = watch(lanData,()=>console.log(lanData.value,222))
    
    const store = useStore();
    const userInfo = store.state.userInfo
    return {
      // ...i18n,
      lanData,
      userInfo
    };
  },
});
</script>
<style lang="less" scoped></style>
