<template>
  <div id="login">
    <div class="top-content">
      <a-row type="flex" justify="space-between" align="middle">
        <a-col :xs="12" :sm="12" :md="12" :lg="12" :xl="8">
          <div class="logo">
            <img src="../assets/logo1.png" alt="" />
            <span>{{lanData.Login.logoText}}</span>
          </div>
        </a-col>
        <a-col :xs="12" :sm="12" :md="12" :lg="12" :xl="8">
          <div class="language">
            <img src="../assets/diqiu1.svg" alt class="language-logo" />
            <span @click="changeEnglish">English</span>
            <span>|</span>
            <span @click="changeChinese">中文</span>
          </div>
        </a-col>
      </a-row>
    </div>
    <a-row type="flex" justify="center">
      <a-col :xs="20" >
        <div class="input-content">
          <div class="sysname">
            <h2>{{lanData.Login.sysTitle}}</h2>
          </div>
          <div class="container">
            <div class="title-field">
              <span>-------{{lanData.Login.hello}}-------</span>
            </div>
            <div class="input-field">
              <a-form :label-col="labelCol" :wrapper-col="wrapperCol">
                <a-form-item :label="lanData.Login.username" v-bind="validateInfos.username">
                  <a-input v-model:value="LoginInfo.username" />
                </a-form-item>
                <a-form-item :label="lanData.Login.password" v-bind="validateInfos.password">
                  <a-input-password
                    v-model:value="LoginInfo.password"
                    autocomplete
                  />
                </a-form-item>
              </a-form>
              <div class="button-field">
                <a-checkbox v-model:checked="LoginInfo.checked">
                  {{lanData.Login.remember}}
                </a-checkbox>
                <a-button @click="Login" type="primary">{{lanData.Login.login}}</a-button>
              </div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, reactive, toRaw } from "vue";
import { useRouter } from "vue-router";
import { useForm } from "@ant-design-vue/use";
import { useStore } from "vuex";
import { login } from "@/api/api";
import { message } from "ant-design-vue";
import { i18n } from "@/i18n/index"
export default defineComponent({
  name: "Login",
  setup() {
    interface LoginRaw {
      username: string;
      password: string;
      checked: boolean;
    }
    const LoginInfo = reactive<LoginRaw>({
      username: "",
      password: "",
      checked: false,
    });
    const store = useStore();
    const router = useRouter();
    const lanData = computed(()=>i18n.i18n.value);
    const rulesRef = reactive({
      username: [
        {
          required: true,
          message: lanData.value.Login.message1,
        },
      ],
      password: [
        {
          required: true,
          message: lanData.value.Login.message2,
        },
      ],
    });
    
    const { validate, validateInfos } = useForm(LoginInfo, rulesRef);
    //登陆(含校验)
    const Login = (e: any) => {
      e.preventDefault();
      validate()
        .then(() => {
          //console.log(LoginInfo.username);
          let params = {
            username: LoginInfo.username,
            password: LoginInfo.password,
          };
          console.log(params);
          login(params)
            .then((res: any) => {
              console.log(res, "res");
              if (res.code == 0) {
                message.success(lanData.value.Login.message3);
                store.commit("SAVE_USERINFO", res.data.sysUser);
                sessionStorage.setItem(
                  "userInfo",
                  JSON.stringify(res.data.sysUser)
                );
                router.push({ name: "Main" });
                if (LoginInfo.checked) {
                  localStorage.setItem("username", LoginInfo.username);
                } else {
                  localStorage.removeItem("username");
                }
              } else {
                message.error(res.msg);
                // 错误细分，具体参考swagger
              }
            })
            .catch((err) => {
              console.log(err, "err");
              message.error(lanData.value.Login.message4);
            });
        })
        .catch((err) => {
          console.log("error", err);
        });
    };
    //记住账号名
    const username = localStorage.getItem("username");
    if (username) {
      LoginInfo.username = username;
    };
    //中英文切换
    const changeEnglish = () => {
      store.commit("CHANGE_LANGUAGE", "en");
    };
    const changeChinese = () => {
      store.commit("CHANGE_LANGUAGE", "zh_CN");
    };
    return {
      labelCol: { span: 6 },
      wrapperCol: { span: 14 },
      LoginInfo,
      lanData,
      validateInfos,
      Login,
      changeEnglish,
      changeChinese
    };
  },
});
</script>
<style lang="less" scoped>
#login {
  background: url("../assets/bg3.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size:100% 100%;
  min-width: 730px;
  .top-content {
    /* display: flex;
    justify-content: space-between; */
    //padding: 50px 100px;
    padding-top: 50px;
    .logo {
      width: 100%;
      height: 73px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100%;
      }
      span {
        font-size: 36px;
        color: #ffffff;
        font-weight: bold;
      }
    }
    .language {
      display: flex;
      align-items: center;
      justify-content: center;
      //margin-left: 20px;
      //color: #909399;
      color: #ffffff;
      span {
        margin-left: 20px;
        cursor: pointer;
        font-size: 20px;
      }
      .language-logo {
        width: 36px;
        height: 36px;
      }
    }
  }
  .input-content {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 80px auto 0px auto;
    max-width: 640px;
    .container {
      width: 100%;
      height: 300px;
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(247, 247, 247, 1) 59.41%,
        rgba(231, 233, 237, 1) 100%
      );
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      .title-field {
        text-align: center;
        margin: 30px 0;
        span {
          color: rgba(74, 29, 155, 1);
          font-size: 16px;
        }
      }
    }

    .sysname {
      h2 {
        color: rgba(255, 255, 255, 1);
        font-size: 36px;
        font-weight: 400;
      }
    }
    .button-field {
      display: flex;
      justify-content: space-between;
      padding: 0 100px;
    }
  }
}
.input-field ::v-deep(.ant-form-item-label) {
  line-height: 100% !important;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0px;
}
</style>
