<template>
  <div id="result">
    <div class="video-container"  >
      <video controls width="1000"  id="video"  >
        <source :src="result" type="video/mp4"  :key='result'/>
        <!-- <source src="http://localhost:8899/file/admin/video/th1y5bpmz8.mp4" type="video/ogg" /> -->
        {{lanData.Result.tip1}}
      </video>
    </div>
    <div class="info-container">
      <div class="basic-info">
        <h2>{{lanData.Result.text1}}</h2>
        <div><span>{{lanData.Result.text2}}</span><span>{{patientId}}</span></div>
        <div><span>{{lanData.Result.text3}}</span><span>{{detectionId}}</span></div>
      </div>
      <a-divider />
      <div class="result">
        <h2>{{lanData.Result.text4}}</h2>
        <span>{{lanData.Result.text5}}0.8</span>
      </div>
      <a-divider />
      <div class="doctor-conclusion">
        <h2>{{lanData.Result.text6}}</h2>
        <a-textarea placeholder="" :rows="4" v-model:value="doctorNotes"/>
        <div class="save-button">
          <a-button type="primary" @click="saveDoctorNote">
            {{lanData.Result.button1}}
          </a-button>
          <a-button type="primary" style="margin-left:20px" @click="downLoadRes">
            {{lanData.Result.button2}}
          </a-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, onMounted, reactive, toRefs, ref, computed } from "vue";
import { useRoute } from "vue-router";
import { getResultById, addDoctorNotes } from "@/api/api";
import { message } from "ant-design-vue";
import baseUrl from "@/utils/request";
import { i18n } from "@/i18n/index";
export default defineComponent({
  name: "result",
  setup() {
    const route = useRoute();
    const lanData = computed(()=>i18n.i18n.value)
    let resData = reactive({
      patientId:"",
      detectionId:"",
      id:"",
      result:"",//返回的结果 也就是视频地址
      doctorNotes:''
    });
    const resultId = route.params.id;
    const getResult = () => {
      getResultById(resultId)
        .then((res: any) => {
          //console.log(JSON.parse(res.data.result));
          if ((res.code == 0)) {
            resData.patientId = res.data.patientId;
            resData.detectionId = res.data.detectionId;
            resData.id = res.data.id;
            //resData.result = JSON.parse(res.data.result)[0]
            resData.result = res.data.result;
            resData.doctorNotes = res.data.doctorNotes;
            //console.log(res,resData) 
          }
        })
        .catch((err: any) => {
          console.log(err);
        });
    };
    //保存 
    const saveDoctorNote = () => {
      const params = {
        id:resData.id,
        doctorNotes:resData.doctorNotes
      }
      console.log(params)
      addDoctorNotes(params).then((res:any)=>{
        console.log(res);
        if(res.code == 0){
          message.success(lanData.value.Result.message1)
        }
      }).catch(err=>{
        console.log(err)
      })
    }
    //下载
    const downLoadRes = () => {
      let arr = []
      arr.push(resData.id)
      console.log(arr)
      
      let a = document.createElement("a");
      a.href =`${baseUrl.baseURL}/download/downloadHistory/${arr}`;
      document.body.appendChild(a);
      a.setAttribute('target', '_blank');
      a.click();  //下载
      URL.revokeObjectURL(a.href);    // 释放URL 对象 
      document.body.removeChild(a);  
    }
    onMounted(() => {
      getResult();
      
    });
    return {
      ...toRefs(resData),
      lanData,
      saveDoctorNote,
      downLoadRes
      //doctorNotes
    };
  },
});
</script>
<style lang="less" scoped>
#result {
  //height: 100%;
  display: flex;
  .video-container {
    //height: 100%;
    background: #f7f7f7;
    padding: 25px;
    video {
    }
  }
  .info-container {
    width: 100%;
    margin-left: 100px;
    .save-button {
      margin-top: 20px;
    }
  }
}
</style>
