<template>
  <div id="setting">
    <a-row>
      <a-col :span="12">
        <div class="baseInfo">
          <a-descriptions :title="lanData.Setting.title1" :column="1">
            <a-descriptions-item :label="lanData.Setting.account">
              {{ store.state.userInfo.username }}
            </a-descriptions-item>
            <a-descriptions-item :label="lanData.Setting.nickname">
              {{ store.state.userInfo.nickname }}
            </a-descriptions-item>
            <!-- <a-descriptions-item label="用户角色">
              USER
            </a-descriptions-item>
            <a-descriptions-item label="所属医院">
              人民医院
            </a-descriptions-item> -->
            <a-descriptions-item :label="lanData.Setting.note">
              {{ store.state.userInfo.remark || "无" }}
            </a-descriptions-item>
          </a-descriptions>
          <a-button @click="handleEditOpen">
            {{lanData.Setting.button1}}
          </a-button>
        </div>
        <a-modal
          :title="lanData.Setting.edit"
          v-model:visible="modalData.isShowEdit"
          :confirm-loading="modalData.editConfirmLoading"
          @ok="handleEdit"
          @cancel="handelCancelEdit"
        >
          <div class="edit-container">
            <div class="avatar" style="margin-left:30px;margin-bottom:20px">
              <a-avatar
                :size="80"
                :src="EditData.avatar"
                style="margin-right:20px"
              />
              <a-upload
                name="file"
                :multiple="false"
                :action="`${baseUrl.baseURL}/upload/upload`"
                @change="handleChange"
                :data="uploadData"
                :headers="uploadHeader"
                :showUploadList="false"
                :beforeUpload="beforeUpload"
                accept="image/jpeg,image/jpg,image/png"
              >
                <a-button>{{lanData.Setting.upload}} </a-button>
              </a-upload>
            </div>
            <a-form :label-col="{ span: 4 }" :wrapper-col="{ span: 16 }">
              <a-form-item :label="lanData.Setting.account">
                <a-input v-model:value="EditData.username" disabled />
              </a-form-item>
              <a-form-item :label="lanData.Setting.nickname">
                <a-input v-model:value="EditData.nickname" />
              </a-form-item>
              <a-form-item :label="lanData.Setting.password">
                <a-input
                  v-model:value="EditData.password"
                  :placeholder="lanData.Setting.placeholder1"
                />
              </a-form-item>
              <a-form-item :label="lanData.Setting.note">
                <a-input v-model:value="EditData.remark" disabled />
              </a-form-item>
            </a-form>
          </div>
        </a-modal>
      </a-col>
      <a-col :span="12">
        <div class="bindCard">
          <a-descriptions :title="lanData.Setting.title2" :column="1">
            <a-descriptions-item :label="lanData.Setting.card">
              {{ CardData.cardId }}
            </a-descriptions-item>
            <a-descriptions-item :label="lanData.Setting.number">
              {{ CardData.cardTime }}
            </a-descriptions-item>
          </a-descriptions>
          <a-button @click="handleBindOpen">
            {{lanData.Setting.button2}}
          </a-button>
        </div>
        <a-modal
          :title="lanData.Setting.bind"
          v-model:visible="modalData.isShowBind"
          :confirm-loading="modalData.bindConfirmLoading"
          @ok="handleBind"
          @cancel="handelCancelBind"
        >
          <p>
            <a-form :label-col="{ span: 6 }" :wrapper-col="{ span: 16 }">
              <a-form-item :label="lanData.Setting.card">
                <a-input
                  v-model:value="modalData.cardId"
                  :placeholder="lanData.Setting.placeholder2"
                />
              </a-form-item>
            </a-form>
          </p>
        </a-modal>
      </a-col>
    </a-row>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRaw, toRef } from "vue";
import { useStore } from "vuex";
import { bindCard, JkcardInfo, UpdateUserInfo } from "@/api/api";
import { message, Modal } from "ant-design-vue";
import { useRouter } from "vue-router";
import baseUrl from "@/utils/request";
import utils from "@/utils/util";
import { i18n } from "@/i18n/index";
export default defineComponent({
  name: "Setting",
  setup() {
    //console.log(baseUrl.baseURL)
    const store = useStore();
    const router = useRouter();
    const lanData = computed(()=>i18n.i18n.value);
    const modalData = reactive({
      isShowEdit: false,
      editConfirmLoading: false,
      isShowBind: false,
      bindConfirmLoading: false,
      cardId: "",
    });
    //打开编辑弹框
    const handleEditOpen = () => {
      uploadData.oldAvatar = EditData.avatar;
      uploadData.uuid = utils.getUuid();
      console.log(uploadData)
      //console.log(EditData,uploadData)
      modalData.isShowEdit = true;
    };
    //确定编辑按钮
    const handleEdit = () => {
      modalData.editConfirmLoading = true;
      UpdateUserInfo(EditData).then((res: any) => {
        console.log(res);
        if (res.code == 0) {
          store.dispatch("getNewUserInfo", EditData.id);
          modalData.isShowEdit = false;
          modalData.editConfirmLoading = false;
          if (EditData.password !== "") {
            console.log(lanData.value.Setting.message1);
            /* todo密码修改后应当注销 */
            Modal.confirm({
              title: lanData.value.Setting.message2,

              content: lanData.value.Setting.message3,
              onOk() {
                store.commit("LOGOUT");
                //console.log(store.state);
                router.push({ name: "Login" });
              },
              onCancel() {
                store.commit("LOGOUT");
                //console.log(store.state);
                router.push({ name: "Login" });
              },
            });
          }
        }
      });
    };
    //取消编辑
    const handelCancelEdit = () => {
      EditData.nickname = store.state.userInfo.nickname;
    };
    //打开绑定弹框
    const handleBindOpen = () => {
      modalData.isShowBind = true;
      modalData.cardId = "";
    };
    //确定绑定按钮
    const handleBind = () => {
      modalData.bindConfirmLoading = true;
      const params = {
        number: modalData.cardId,
        userId: userId,
      };
      console.log(params);
      bindCard(params)
        .then((res: any) => {
          if (res.code == 0) {
            message.success(lanData.value.Setting.message4);
            modalData.isShowBind = false;
            modalData.bindConfirmLoading = false;
            getJKcardInfo();
          } else {
            message.error(res.msg);
            modalData.isShowBind = false;
            modalData.bindConfirmLoading = false;
          }
        })
        .catch((err: any) => {
          console.log(err);
          message.error(lanData.value.Setting.message5);
          modalData.isShowBind = false;
          modalData.bindConfirmLoading = false;
        });
      /* setTimeout(() => {
        modalData.isShowBind = false;
        modalData.bindConfirmLoading = false;
      }, 2000); */
    };
    //取消绑定
    const handelCancelBind = () => {
      modalData.cardId = "";
    };
    const EditData = reactive({
      id: store.state.userInfo.id,
      avatar: store.state.userInfo.avatar,
      username: store.state.userInfo.username,
      password: "",
      nickname: store.state.userInfo.nickname,
      remark: store.state.userInfo.remark || "无",
    });

    const CardData = reactive({
      cardId: "",
      cardTime: "",
    });
    const userId = store.state.userInfo.id;
    const getJKcardInfo = (): void => {
      JkcardInfo(userId)
        .then((res: any) => {
          console.log(res);
          if (res.code == 0) {
            CardData.cardId = res.data.number;
            CardData.cardTime = res.data.count;
          } else {
            CardData.cardId = res.msg;
            CardData.cardTime = res.msg;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    };
    const uploadData = {
      status: "avatar",
      oldAvatar: "",
      uuid:''
    };
    
    const uploadHeader = {
      Authorization: sessionStorage.getItem("accessToken"),
    };
    const handleChange = (info: any): void => {
      console.log(info, 11);
      const status = info.file.status;
      if (status === "done") {
        if (info.file.response.code == 0) {
          message.success("success");
          EditData.avatar = info.file.response.data;
        }
      } else if (status === "error") {
        message.error("error");
      }
    };
    //上传文件校验
    const beforeUpload = (file: any) => {
      return new Promise((resolve, reject) => {
        const isImg = file.type === 'image/jpeg' || file.type === 'image/jpg' || file.type === 'image/png';
        const isLt5M = file.size / 1024 / 1024 < 5;
        
        if (!isImg) {
          message.error(lanData.value.Setting.message6, 0.8);
          return reject(false);
        }
        if (!isLt5M) {
          message.error(lanData.value.Setting.message7, 0.8);
          return reject(false);
        }
        return resolve(true);
      });
    };
    onMounted(() => {
      getJKcardInfo();
    });
    return {
      modalData,
      lanData,
      handleEditOpen,
      handleEdit,
      handelCancelEdit,
      handleBindOpen,
      handleBind,
      handelCancelBind,
      EditData,
      CardData,
      store,
      handleChange,
      uploadData,
      uploadHeader,
      baseUrl,
      beforeUpload
    };
  },
});
</script>
<style lang="less" scoped>
#setting {
}
.ant-modal-content::v-deep(.avatar) {
  margin-left: 100px;
}
</style>
