<template>
  <div id="upload">
    <div class="form-container">
      <a-form layout="inline" :model="formInline" @submit="handleSubmit">
        <!-- <a-form-item label="参数">
          <a-input v-model:value="parameter" placeholder="请填写心率">
          </a-input>
        </a-form-item> -->
        <a-form-item :label="lanData.Upload.patientId">
          <a-input
            v-model:value="formInline.patientId"
            :placeholder="lanData.Upload.placeholder1"
          >
          </a-input>
        </a-form-item>
        <a-form-item :label="lanData.Upload.detectionId">
          <a-input
            v-model:value="formInline.detectionId"
            :placeholder="lanData.Upload.placeholder2"
          >
          </a-input>
        </a-form-item>
        <a-form-item :label="lanData.Upload.time">
          <a-input v-model:value="testTime" disabled> </a-input>
        </a-form-item>
        <a-form-item>
          <a-button type="dashed" @click="goBind">
            {{lanData.Upload.bind}}
          </a-button>
        </a-form-item>
        <a-form-item>
          <a-button
            type="primary"
            :disabled="
              formInline.patientId === '' || formInline.detectionId === ''
            "
            @click="calculate"
          >
            {{lanData.Upload.calculate}}
          </a-button>
        </a-form-item>
      </a-form>
    </div>
    <div class="video-container">
      <a-upload-dragger
        name="file"
        :multiple="false"
        :action="`${baseUrl.baseURL}/upload/upload`"
        @change="handleChange"
        :data="uploadData"
        :headers="uploadHeader"
        :beforeUpload="beforeUpload"
        :remove="remove"
        accept="video/mp4"
      >
        <p class="ant-upload-drag-icon">
          <inbox-outlined />
        </p>
        <p class="ant-upload-text">
          {{lanData.Upload.text}}
        </p>
        <p class="ant-upload-hint"></p>
      </a-upload-dragger>
    </div>
  </div>
</template>
<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  ref,
  toRefs,
  computed,
  toRaw,
} from "vue";
import { UserOutlined, LockOutlined } from "@ant-design/icons-vue";
import { InboxOutlined } from "@ant-design/icons-vue";
import { message } from "ant-design-vue";
import { JkcardInfo, goToCalculate, reduceIcNumber } from "@/api/api";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import baseUrl from "@/utils/request";
import utils from "@/utils/util";
import { i18n } from "@/i18n/index";
export default defineComponent({
  name: "upload",
  components: {
    UserOutlined,
    LockOutlined,
    InboxOutlined,
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const lanData = computed(()=>i18n.i18n.value)
    interface formRaw {
      /* parameter: string; */
      patientId: string;
      detectionId: string;
      filePath: String[];
      uploaderUsername: String;
      userId: Number;
    }
    const formInline = reactive<formRaw>({
      /* parameter: "", */
      patientId: "",
      detectionId: "",
      filePath: [],
      uploaderUsername: store.state.userInfo.username,
      userId: store.state.userInfo.id,
    });
    const testTime:any = ref(lanData.value.Upload.message1);
    const uploadData = {
      status: "video",
      uuid:''
    };
    const uploadHeader = {
      Authorization: sessionStorage.getItem("accessToken"),
    };
    const handleSubmit = (e: any): void => {
      console.log(formInline);
    };

    const handleChange = (info: any): void => {
      console.log(info, 11);
      const status = info.file.status;
      if (status === "done") {
        if (info.file.response.code == 0) {
          formInline.filePath.push(info.file.response.data);
          message.success(lanData.value.Upload.message2);
          console.log(toRaw(formInline));
        }
      } else if (status === "error") {
        message.error(lanData.value.Upload.message3);
      }
    };
    //const userId:any = computed(()=>store.state.userInfo.id);
    const getJKcardInfo = (): void => {
      JkcardInfo(store.state.userInfo.id)
        .then((res: any) => {
          console.log(res);
          if (res.code == 0) {
            testTime.value = res.data.count;
            console.log(testTime);
          } else {
            //testTime.value = '未绑定精康检测卡';
          }
        })
        .catch((err) => {
          console.log(err);
        });
    };
    //开始计算
    const calculate = () => {
      console.log(formInline,testTime);
      if(testTime.value == lanData.value.Upload.message1 || testTime.value <= 0 ){
        message.error(lanData.value.Upload.message4);
        return false;
      }
      /* todo条件校验,格式校验 */
      if (formInline.filePath.length <= 0) {
        message.error(lanData.value.Upload.message5);
        return false;
      }
      goToCalculate(formInline)
        .then((res: any) => {
          if (res.code == 0) {
            console.log(res);
            //message.success('计算成功！')
            reduceIcNum();
            router.push({ name: "Result", params: { id: res.data.id } });
          } else {
            message.error(lanData.value.Upload.err1);
          }
        })
        .catch((err: any) => {
          console.log(err);
        });
    };

    //上传文件校验
    const beforeUpload = (file: any) => {
      uploadData.uuid = utils.getUuid()
      return new Promise((resolve, reject) => {
        const isVideo = file.type === "video/mp4";
        const isLt15M = file.size / 1024 / 1024 < 15;
        const fileNumebr = formInline.filePath.length;
        if (!isVideo) {
          message.error(lanData.value.Upload.err2, 0.8);
          return reject(false);
        }
        if (!isLt15M) {
          message.error(lanData.value.Upload.err3, 0.8);
          return reject(false);
        }
        if (fileNumebr >= 1) {
          message.error(lanData.value.Upload.err4, 0.8);
          return reject(false);
        }
        return resolve(true);
      });

      // const isVideo = file.type === "video/mp4";
      // if (!isVideo) {
      //   message.error("视频格式不正确,仅支持MP4,请修改后重新上传！", 0.8);
      //   return isVideo;
      // }
      // const isLt15M = file.size / 1024 / 1024 < 15;
      // if (!isLt15M) {
      //   message.error("视频大小超出限制，请修改后重新上传", 0.8);
      //   return isLt15M;
      // };
      // return isVideo && isLt15M ;
    };
    
    //移除文件
    const remove = (file: any) => {
      console.log(file.value);
      formInline.filePath = []
    };
    //检测卡次数-1
    const reduceIcNum = (): void => {
      const params = {
        userId: store.state.userInfo.id,
      };
      reduceIcNumber(params)
        .then((res: any) => {
          if (res.code == 0) {
            console.log(res);
          }
        })
        .catch((err: any) => {
          console.log(err);
        });
    };
    //去绑定
    const goBind = () => {
      router.push({ name: "Setting" });
    };
    onMounted(() => {
      getJKcardInfo();
    });

    return {
      formInline,
      lanData,
      testTime,
      uploadData,
      handleSubmit,
      handleChange,
      uploadHeader,
      calculate,
      beforeUpload,
      goBind,
      remove,
      baseUrl
    };
  },
});
</script>
<style lang="less" scoped>
#upload {
  //height: 100%;

  .video-container {
    margin-top: 50px;
    //height: 600px;
  }
}
.video-container ::v-deep(.ant-upload-drag) {
  height: 500px;
}
</style>
