<template>
  <div id="usermanage">
    <div class="herder-container">
      <div style="display: flex;">
        <!-- <div class="searchInput">
          <a-input v-model:value="searchKey" placeholder="" />
        </div>
        <a-button type="primary">
          搜索
        </a-button> -->
      </div>
      <div>
        <a-button type="primary" @click="AddUser">
          {{lanData.User.button1}}
        </a-button>
      </div>
    </div>
    <div class="table-container">
      <a-table
        :columns="columns"
        :data-source="userData"
        :rowKey="
          (record) => {
            return record.id;
          }
        "
        :pagination="pagination"
        @change="handleChangeSize"
      >
        <!-- <template #status="{  record }">
          <span v-if="record.status == 1">
            正常
          </span>
          <span v-if="record.status == 0">
            禁用
          </span>
        </template> -->
        <template #remark="{  record }">
          <span v-if="record.remark == ''">
            {{lanData.User.text1}}
          </span>
          <span v-else>
            {{ record.remark }}
          </span>
        </template>
        <template #userType="{  record }">
          <span v-if="record.userType == 'ADMIN'">
            {{lanData.User.text2}}
          </span>
          <span v-if="record.userType == 'USER'">
            {{lanData.User.text3}}
          </span>
        </template>
        <template #action="{  record }">
          <span>
            <a-button
              type="link"
              @click="handleEditClick(record)"
              v-if="record.userType !== 'ADMIN'"
            >
              {{lanData.User.button2}}
            </a-button>
            <a-button
              type="link"
              @click="handleDelClick(record)"
              v-if="record.userType !== 'ADMIN'"
            >
              {{lanData.User.button3}}
            </a-button>
          </span>
        </template>
      </a-table>
    </div>
    <div class="addModal">
      <a-modal
        :title="lanData.User.add"
        v-model:visible="isShowAdd"
        :confirm-loading="addConfirmLoading"
        @ok="handleAdd"
        @cancel="handelCancelAdd"
      >
        <div class="edit-container">
          <div class="avatar" style="margin-left:30px;margin-bottom:20px">
            <a-avatar
              :size="80"
              :src="AddData.avatar"
              style="margin-right:20px"
            />
            <a-upload
              name="file"
              :multiple="false"
              :action="`${baseUrl.baseURL}/upload/upload`"
              @change="handleAddChange"
              :data="uploadData"
              :headers="uploadHeader"
              :showUploadList="false"
              :beforeUpload="beforeUpload"
              accept="image/jpeg,image/jpg,image/png"
            >
              <a-button> {{lanData.User.upload}} </a-button>
            </a-upload>
          </div>
          <a-form :label-col="{ span: 4 }" :wrapper-col="{ span: 16 }">
            <a-form-item :label="lanData.User.username">
              <a-input
                v-model:value="AddData.username"
                :placeholder="lanData.User.placeholder1"
              />
            </a-form-item>
            <a-form-item :label="lanData.User.nickname">
              <a-input
                v-model:value="AddData.nickname"
                :placeholder="lanData.User.placeholder2"
              />
            </a-form-item>
            <a-form-item :label="lanData.User.password">
              <a-input-password
                v-model:value="AddData.password"
                autocomplete
                :placeholder="lanData.User.placeholder3"
              />
            </a-form-item>
            <a-form-item :label="lanData.User.note">
              <a-input
                v-model:value="AddData.remark"
                :placeholder="lanData.User.placeholder4"
              />
            </a-form-item>
            <a-form-item :label="lanData.User.type">
              <a-select v-model:value="AddData.userType">
                <a-select-option value="USER">
                  {{lanData.User.text3}}
                </a-select-option>
                <a-select-option value="ADMIN">
                  {{lanData.User.text2}}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-form>
        </div>
      </a-modal>
      <a-modal
        :title="lanData.User.edit"
        v-model:visible="isShowEdit"
        :confirm-loading="editConfirmLoading"
        @ok="handleEdit"
        @cancel="handelCancelEdit"
      >
        <div class="edit-container">
          <div class="avatar" style="margin-left:30px;margin-bottom:20px">
            <a-avatar
              :size="80"
              :src="AddData.avatar"
              style="margin-right:20px"
            />
            <a-upload
              name="file"
              :multiple="false"
              :action="`${baseUrl.baseURL}/upload/upload`"
              @change="handleEditChange"
              :data="uploadData"
              :headers="uploadHeader"
              :showUploadList="false"
              :beforeUpload="beforeUpload"
              accept="image/jpeg,image/jpg,image/png"
            >
              <a-button> {{lanData.User.upload}} </a-button>
            </a-upload>
          </div>
          <a-form :label-col="{ span: 4 }" :wrapper-col="{ span: 16 }">
            <a-form-item :label="lanData.User.username">
              <a-input
                v-model:value="AddData.username"
                placeholder=""
                disabled
              />
            </a-form-item>
            <a-form-item :label="lanData.User.nickname">
              <a-input v-model:value="AddData.nickname" placeholder="" />
            </a-form-item>
            <a-form-item :label="lanData.User.password">
              <a-input-password
                v-model:value="AddData.password"
                autocomplete
                :placeholder="lanData.User.placeholder5"
              />
            </a-form-item>
            <a-form-item :label="lanData.User.note">
              <a-input v-model:value="AddData.remark" placeholder="" />
            </a-form-item>
            <a-form-item :label="lanData.User.type">
              <a-select v-model:value="AddData.userType">
                <a-select-option value="USER">
                  {{lanData.User.text3}}
                </a-select-option>
                <a-select-option value="ADMIN">
                  {{lanData.User.text2}}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-form>
        </div>
      </a-modal>
    </div>
  </div>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  onMounted,
  onBeforeMount,
  toRefs,
  toRaw,
  computed,
} from "vue";
import { GetAllUsers, UpdateUserInfo, deleteUser } from "@/api/api";
import { message, Modal } from "ant-design-vue";
import { useStore } from "vuex";
import baseUrl from "@/utils/request";
import utils from "@/utils/util";
import { i18n } from "@/i18n/index";
export default defineComponent({
  name: "usermanage",
  setup() {
    interface userDataInter {
      id?: Number;
      username?: String;
      nickname?: String;
      userType?: String;
      remark?: String;
      status?: Number;
      password?: String;
      avatar?: String;
    }

    interface dataInter {
      userData: userDataInter[];
      searchKey: String;
      
      pagination: any;
    }
    const lanData = computed(()=>i18n.i18n.value);
    const data = reactive<dataInter>({
      userData: [],
      searchKey: "",
      pagination: {
        current: 1,
        pageSize: 5,
        pageSizeOptions: ["5", "10", "15"],
        showTotal: (total: Number, range: any) => {
          return "共" + total + "条";
        },
        showQuickJumper: true,
        showSizeChanger: true,
        total: 0,
      },
    });
    const columns = computed(()=>{
      return [
        {
          title: lanData.value.User.title1,
          dataIndex: "id",
          align: "center",
        },
        {
          title: lanData.value.User.title2,
          dataIndex: "username",
          align: "center",
        },
        {
          title: lanData.value.User.title3,
          dataIndex: "nickname",
          align: "center",
        },
        {
          title: lanData.value.User.title4,
          dataIndex: "userType",
          align: "center",
          slots: { customRender: "userType" },
        },
        {
          title: lanData.value.User.title5,
          dataIndex: "remark",
          align: "center",
          slots: { customRender: "remark" },
        },
        /* {
          title: "账号状态",
          dataIndex: "status",
          align: "center",
          slots: { customRender: "status" },
        }, */
        {
          title: lanData.value.User.title6,
          dataIndex: "action",
          align: "center",
          slots: { customRender: "action" },
        },
      ]
    })
    const modalData = reactive({
      isShowAdd: false,
      addConfirmLoading: false,
      isShowEdit: false,
      editConfirmLoading: false,
      AddData: {
        avatar: "http://pmdcare.cn:82/default/default.jpg",
        id: 0,
        nickname: "",
        username: "",
        password: "",
        remark: "",
        userType: "USER",
      },
    });
    //打开编辑页面
    const handleEditClick = (record: any) => {
      /* console.log(toRaw(record))
      modalData.AddData = toRaw(record); */
      uploadData.oldAvatar = toRaw(record).avatar;
      uploadData.uuid = utils.getUuid();
      console.log(uploadData)
      modalData.AddData = {
        avatar: toRaw(record).avatar,
        id: toRaw(record).id,
        nickname: toRaw(record).nickname,
        username: toRaw(record).username,
        password: "",
        remark: toRaw(record).remark,
        userType: toRaw(record).userType,
      };
      modalData.isShowEdit = true;
      //console.log(modalData.AddData)
    };
    //删除
    const handleDelClick = (record: any) => {
      console.log(record);
      Modal.confirm({
        title: lanData.value.User.message1,

        content: lanData.value.User.message2,
        onOk() {
          let params: any = [];
          let data = {
            id : record.id,
            status: 0,
          };
          params.push(data);
          deleteUser(params)
            .then((res: any) => {
              console.log(res);
              if (res.code == 0) {
                message.success(lanData.value.User.message3);
                getUsers();
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },
        onCancel() {},
      });
    };
    //改变分页数据
    const handleChangeSize = (pagination: any) => {
      console.log(pagination);
      data.pagination.current = pagination.current;
      data.pagination.pageSize = pagination.pageSize;
      getUsers();
    };
    //打开新增用户弹框
    const AddUser = () => {
      uploadData.uuid = utils.getUuid();
      console.log(uploadData)
      modalData.isShowAdd = true;
      //每次打开初始化
      modalData.AddData = {
        avatar: "http://pmdcare.cn:82/default/default.jpg",
        id: 0,
        nickname: "",
        username: "",
        password: "",
        remark: "",
        userType: "USER",
      };
    };
    //确定新增用户
    const handleAdd = () => {
      modalData.addConfirmLoading = true;
      if (
        modalData.AddData.username == "" ||
        modalData.AddData.password == ""
      ) {
        message.error(lanData.value.User.message4);
        modalData.addConfirmLoading = false;
        return false;
      }
      console.log(modalData.AddData);
      UpdateUserInfo(modalData.AddData)
        .then((res: any) => {
          console.log(res);
          if (res.code == 0) {
            message.success(lanData.value.User.message5);
            modalData.addConfirmLoading = false;
            modalData.isShowAdd = false;
            getUsers();
          }
        })
        .catch((err: any) => {
          message.error(lanData.value.User.message6);
          modalData.addConfirmLoading = false;
          modalData.isShowAdd = false;
        });
    };
    //取消新增用户
    const handelCancelAdd = () => {};
    //确定修改
    const handleEdit = () => {
      modalData.editConfirmLoading = true;
      console.log(modalData.AddData);
      UpdateUserInfo(modalData.AddData)
        .then((res: any) => {
          console.log(res);
          if (res.code == 0) {
            message.success(lanData.value.User.message7);
            modalData.editConfirmLoading = false;
            modalData.isShowEdit = false;
            getUsers();
          }
        })
        .catch((err: any) => {
          console.log(err);
          message.error(lanData.value.User.message8);
          modalData.editConfirmLoading = false;
          modalData.isShowEdit = false;
        });
    };
    //取消修改
    const handelCancelEdit = () => {
      console.log("ok");
    };
    //获取所有用户
    const getUsers = () => {
      let params = {
        current: data.pagination.current,
        size: data.pagination.pageSize,
      };
      GetAllUsers(params)
        .then((res: any) => {
          console.log(res);
          if (res.code == 0) {
            data.userData = res.data.records;
            data.pagination.total = res.data.total;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    };
    //上传头像参数
    const uploadData = {
      status: "avatar",
      oldAvatar: "",
      uuid:''
    };
    //上传头像token
    const uploadHeader = {
      Authorization: sessionStorage.getItem("accessToken"),
    };
    //新增 上传图片 回调
    const handleAddChange = (info: any): void => {
      console.log(info, 11);
      const status = info.file.status;
      if (status === "done") {
        if (info.file.response.code == 0) {
          message.success("success");
          modalData.AddData.avatar = info.file.response.data;
          //EditData.avatar = info.file.response.data;
        }
      } else if (status === "error") {
        message.error("error");
      }
    };
    //编辑 上传图片 回调
    const handleEditChange = (info: any): void => {
      console.log(info, 11);
      const status = info.file.status;
      if (status === "done") {
        if (info.file.response.code == 0) {
          message.success("success");
          modalData.AddData.avatar = info.file.response.data;
          //EditData.avatar = info.file.response.data;
        }
      } else if (status === "error") {
        message.error("error");
      }
    };
    //上传文件校验
    const beforeUpload = (file: any) => {
      return new Promise((resolve, reject) => {
        const isImg = file.type === 'image/jpeg' || file.type === 'image/jpg' || file.type === 'image/png';
        const isLt5M = file.size / 1024 / 1024 < 5;
        
        if (!isImg) {
          message.error(lanData.value.User.message9, 0.8);
          return reject(false);
        }
        if (!isLt5M) {
          message.error(lanData.value.User.message10, 0.8);
          return reject(false);
        }
        return resolve(true);
      });
    };
    onMounted(() => {
      getUsers();
    });

    return {
      ...toRefs(data),
      ...toRefs(modalData),
      lanData,
      columns,
      handleEditClick,
      handleDelClick,
      handleChangeSize,
      handleAdd,
      handelCancelAdd,
      handleEdit,
      handelCancelEdit,
      AddUser,
      handleEditChange,
      handleAddChange,
      uploadData,
      uploadHeader,
      baseUrl,
      beforeUpload
    };
  },
});
</script>
<style lang="less" scoped>
#usermanage {
  .herder-container {
    display: flex;
    justify-content: space-between;
  }
  .table-container {
    margin-top: 30px;
  }
}
</style>
