<template>
<a-config-provider :locale="currentLanguage">
  <div id="main">
    <router-view/>
  </div>
  </a-config-provider>
</template>
<script lang="ts">
import { computed, defineComponent } from "vue";
import { useStore } from "vuex";

export default defineComponent ({
  name:'App',
  setup(){
    const userInfo:any = sessionStorage.getItem('userInfo')
    console.log(JSON.parse(userInfo),777)
    const store = useStore();
    const currentLanguage: any = computed(()=>store.state.languageAtd);
    if(userInfo){
      store.commit('SAVE_USERINFO',JSON.parse(userInfo))
    }
    return {
      currentLanguage
    }
  }
})
</script>
<style lang="less">
body{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  Font-family: Arial, “Microsoft YaHei”, “微软雅黑”;
}
#app{
  height: 100%;
  width: 100%;

}
#main {
  /* font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; */
  height: 100%;
  width: 100%;
}


</style>
