<template>
  <a-layout id="layout" style="">
    <a-layout-sider
      style=""
      v-model:collapsed="collapsed"
      collapsible
      width="250"
    >
      <left-menu :collapsed="collapsed" :userInfo="userInfo"></left-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0;">
        <div class="language">
          <img src="../assets/diqiu2.svg" alt class="language-logo" />
          <span @click="changeEnglish">English</span>
          <span>|</span>
          <span @click="changeChinese">中文</span>
        </div>
      </a-layout-header>
      <a-layout-content style="margin: 0 16px;height:100%;">
        <div style="display:flex">
          {{lanData.Breadcrumb.currentPosition}}<span style="margin:0px 10px">></span>  
          <a-breadcrumb>
            <a-breadcrumb-item v-for="(item, index) in breadBar" :key="index"
              ><a>{{ item.name }}</a></a-breadcrumb-item
            >
          </a-breadcrumb>
        </div>

        <div
          :style="{
            padding: '24px',
            background: '#fff',
            height: '774px',
            overflow: 'auto',
            
          }"
        >
          <router-view></router-view>
        </div>
      </a-layout-content>
      <a-layout-footer style="text-align: center">
        ruxianai system ©2021 Created by jkkj
      </a-layout-footer>
    </a-layout>
  </a-layout>
  <!-- <div >
        layout 
        <div>
            <left-menu></left-menu>
        </div>
        <router-view></router-view>
    </div> -->
</template>
<script lang="ts">
import {
  defineComponent,
  reactive,
  ref,
  watchEffect,
  computed,
  toRaw,
} from "vue";
import leftMenu from "@/layout/leftMenu.vue";
import { i18n } from "@/i18n/index";
import { useStore } from "vuex";
import { useRoute } from "vue-router";
export default defineComponent({
  name: "Layout",
  components: {
    leftMenu,
  },
  setup() {
    const store = useStore();
    const collapsed = ref<boolean>(false);
    const changeEnglish = () => {
      store.commit("CHANGE_LANGUAGE", "en");
      //i18n.locale.value = "en";
      //console.log(store,i18n)
    };
    const changeChinese = () => {
      store.commit("CHANGE_LANGUAGE", "zh_CN");
      //i18n.locale.value = "zh_CN";
      //console.log(store,i18n)
    };
    const route = useRoute();
    const breadBar = ref<any>(null);
    watchEffect(() => {
      if(i18n.locale.value == 'zh_CN'){
        breadBar.value = route.meta.breadBar;
        //console.log(toRaw(breadBar), 222);
      }else if(i18n.locale.value == 'en'){
        breadBar.value = route.meta.breadBarEn
      } 
      
      console.log(i18n.locale.value)
    });
    //const userInfo = store.state.userInfo;
    const userInfo: any = computed(() => store.state.userInfo);
    //const userdata = reactive({...store.state.userInfo})
    //console.log(userdata,'userdata')
    //console.log(routes,222)
    const lanData = computed(()=>i18n.i18n.value)
    return {
      collapsed,
      changeChinese,
      changeEnglish,
      breadBar,
      userInfo,
      lanData
    };
  },
});
</script>
<style lang="less" scoped>
#layout {
  .language {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-left: 20px;
    //color: #909399;
    //color: #ffffff;

    span {
      margin-left: 20px;
      cursor: pointer;
      font-size: 16px;
      color: rgba(102, 102, 102, 1);
      font-weight: 500;
    }
    .language-logo {
      width: 32px;
      height: 32px;
    }
  }
}
.ant-layout ::v-deep(.ant-layout-header) {
  flex-direction: row-reverse;
  display: flex;
}
.ant-layout ::v-deep(.ant-layout-sider-zero-width-trigger) {
  top: 10px !important;
}
.ant-layout.ant-layout-has-sider {
  height: 100%;
}
.ant-layout ::v-deep(.ant-layout-sider) {
  background: url("../assets/leftmenubg.svg");
}
.ant-layout ::v-deep(.ant-layout-sider-trigger) {
  background: transparent;
}
</style>
