<template>
  <div id="leftmenu">
    <div class="logo">
      <img src="../assets/logo1.png" alt="" />
      <span v-if="!collapsed">{{lanData.LeftMenu.company}}</span>
    </div>
    <div class="user" v-if="!collapsed">
      <img
        :src="userInfo.avatar "
        alt=""
      />
      <span>{{userInfo.nickname}}</span>
    </div>
    <a-menu
      theme="light"
      
      :selectedKeys="[route.path]"
      mode="inline"
      @click="handleClcikMenuItem"
      :inlineIndent="50"
    >
      <a-menu-item key="/main/homepage">
        <HomeOutlined />
        <span>{{lanData.LeftMenu.homepage}}</span>
      </a-menu-item>
      <a-menu-item key="/main/upload">
        <VideoCameraOutlined />
        <span>{{lanData.LeftMenu.upload}}</span>
      </a-menu-item>
      <!-- <a-menu-item key="/main/result">
        <file-outlined />
        <span>Result</span>
      </a-menu-item> -->
      <a-menu-item key="/main/history">
        <file-outlined />
        <span>{{lanData.LeftMenu.history}}</span>
      </a-menu-item>
      <a-menu-item key="/main/Setting">
        <setting-outlined />
        <span>{{lanData.LeftMenu.setting}}</span>
      </a-menu-item>
      <a-menu-item key="/main/usermanage" v-if="userInfo.userType == 'ADMIN'">
        <UserOutlined />
        <span>{{lanData.LeftMenu.user}}</span>
      </a-menu-item>
      <a-menu-item key="/main/cardmanage" v-if="userInfo.userType == 'ADMIN'">
        <IdcardOutlined />
        <span>{{lanData.LeftMenu.card}}</span>
      </a-menu-item>
    </a-menu>
    <div class="logout" @click="logout">
      <PoweroffOutlined />
      <a-button type="link" v-if="!collapsed" >
        {{lanData.LeftMenu.logout}}
      </a-button>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref, watchEffect, computed, toRaw, reactive, toRefs } from "vue";
import { useRoute, useRouter } from "vue-router";
import {
  HomeOutlined,
  IdcardOutlined,
  VideoCameraOutlined,
  UserOutlined,
  TeamOutlined,
  FileOutlined,
  PoweroffOutlined,
  SettingOutlined,
  
} from "@ant-design/icons-vue";
import { useStore } from "vuex";
import { Modal } from "ant-design-vue";
import { ExclamationCircleOutlined } from "@ant-design/icons-vue";
import { createVNode } from "vue";
import { i18n } from "@/i18n/index";
export default defineComponent({
  name: "Leftmenu",
  components: {
    HomeOutlined,
    IdcardOutlined,
    VideoCameraOutlined,
    UserOutlined,
    TeamOutlined,
    FileOutlined,
    PoweroffOutlined,
    SettingOutlined,
  },
  props: {
    collapsed: {
      type: Boolean,
      default: () => {
        return false;
      },
    },
    userInfo: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  setup(props) {
    const router = useRouter();
    const route = useRoute();
    const store = useStore();
    const lanData = computed(()=>i18n.i18n.value);
    console.log(toRaw(route),'route')
    const data:any = reactive({
      selectedKeys:''
    })
    //let selectedKeys:any = ref([]);
    watchEffect(() => {
      data.selectedKeys = route.path.split(" ")
      console.log(toRaw(data.selectedKeys),[route.path],'route change');
    });
    const handleClcikMenuItem = (item: any): void => {
      router.push({ path: item.key });
      //console.log(route)
    };
    //登出
    const logout = (): void => {
      Modal.confirm({
        title: "提示?",
        icon: createVNode(ExclamationCircleOutlined),
        content: "您是否确定退出本系统？",
        onOk() {
          store.commit("LOGOUT");
          console.log(store.state);
          router.push({ name: "Login" });
        },
        onCancel() {},
      });
    };
    console.log(props.userInfo, "leftmenu");
    //const userInfo = props.userInfo;
    const userInfo: any = computed(()=>props.userInfo);
    //const userType = props.userInfo.userType;
    return {
      ...toRefs(data),
      handleClcikMenuItem,
      logout,
      route,
      //userType,
      userInfo,
      lanData
    };
  },
});
</script>
<style lang="less" scoped>
#leftmenu {
  //width: 200px;
  height: 100%;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    //background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    img {
      height: 50px;
    }
    span {
      color: #ffffff;
      font-size: 24px;
    }
  }
  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
    span {
      color: #ffffff;
      font-size: 16px;
      font-weight: 100;
    }
  }
  .logout {
    cursor: pointer;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
    .ant-btn-link {
      color: #ffffff;
    }
  }
}
#leftmenu ::v-deep(.ant-menu) {
  background: transparent;
  color: #ffffff;
}
#leftmenu ::v-deep(.ant-menu-inline) {
  border-right: 0;
}
#leftmenu ::v-deep(.ant-menu-item::after) {
  border-right: 0;
}
</style>
